<a href="https://colab.research.google.com/github/p3dr0id/covid19oesteba/blob/main/gera_tabela_gtg_covid19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tratamento de dados da Central Integrada de Comando e Controle da Saúde - BA

## Importação de Bibliotecas necessárias

In [ ]:
# Importações de bibliotecas
from google.colab import files, drive # para que o google colab acesse o drive
import pandas as pd
import numpy as np
!pip install gspread_pandas==3.0.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gspread_pandas==3.0.0 in /usr/local/lib/python3.7/dist-packages (3.0.0)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from gspread_pandas==3.0.0) (1.3.5)
Requirement already satisfied: gspread>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from gspread_pandas==3.0.0) (5.4.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gspread_pandas==3.0.0) (0.4.6)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from gspread_pandas==3.0.0) (4.4.2)
Requirement already satisfied: google-auth in /usr/local/lib/python3.7/dist-packages (from gspread_pandas==3.0.0) (1.35.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth->gspread_pandas==3.0.0) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth->gspread_pandas==3.0.0) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth->gspread_pandas==3.0.0) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth->gspread_pandas==3.0.0) (57.4.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth->gspread_pandas==3.0.0) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gspread_pandas==3.0.0) (1.3.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->gspread_pandas==3.0.0) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->gspread_pandas==3.0.0) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->gspread_pandas==3.0.0) (1.21.6)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth->gspread_pandas==3.0.0) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas==3.0.0) (3.2.0)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas==3.0.0) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas==3.0.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas==3.0.0) (2022.5.18.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas==3.0.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas==3.0.0) (2.10)

## Concessão de acesso as planilhas de dados

In [ ]:
import google.auth
from google.colab import auth
from gspread_pandas import Spread

auth.authenticate_user()
credentials, project_id = google.auth.default()
drive.mount('/content/drive', force_remount=True) # Monta meu google drive para salvar os dataframes

Mounted at /content/drive

## Download a partir do gdrive

In [ ]:
# Download do arquivo de dados diretamente do site da Secretaria Estadual de Saúde do Estado da Bahia

df_ciccs = pd.read_csv('/content/drive/MyDrive/GTG-Covid19/Tabelas_GTG-Covid19/Tabela 1/Banco Estadual COVID-19 CONFIRMADOS.csv', sep=';', encoding = 'ISO-8859-1')
df_ciccs

,DATA DA NOTIFICACAO,DOR DE GARGANTA,DISPNEIA,FEBRE,TOSSE,OUTROS,E PROFISSIONAL DE SAUDE?,DATA DO INICIO DOS SINTOMAS,DOENCAS RESPIRATORIAS CRONICAS DESCOMPENSADAS,DOENCAS CARDIACAS CRONICAS,...,TIPO IDADE,TIPO DE TESTE,RESULTADO DO TESTE,SEXO,BAIRRO,ESTADO DE RESIDENCIA,MUNICIPIO DE RESIDENCIA,BANCO,RACA/COR,EPIDEMIA
0,25/04/2020,NAO,NAO,NAO,NAO,SIM,NAO,22/04/2020,NAO,NAO,...,ANO(S),RT-PCR,POSITIVO,MASCULINO,SANTO ANTONIO,BAHIA,ITABUNA,BASELINE,PARDA,COVID-19
1,12/05/2020,NAO,NAO,NAO,NAO,SIM,SIM,21/04/2020,NAO,NAO,...,ANO(S),RT-PCR,POSITIVO,FEMININO,CIDADE NOVA,BAHIA,ILHEUS,BASELINE,PARDA,COVID-19
2,02/10/2020,NAO,NAO,NAO,NAO,NAO,NAO,20/04/2020,NAO,NAO,...,ANO(S),TESTE RAPIDO - ANTICORPO,POSITIVO,FEMININO,TEOTONIO VILELA,BAHIA,ILHEUS,BASELINE,PARDA,COVID-19
3,20/04/2020,NAO,NAO,SIM,NAO,SIM,NAO,18/04/2020,NAO,NAO,...,ANO(S),RT-PCR,POSITIVO,MASCULINO,CONCEICAO,BAHIA,ITABUNA,BASELINE,PARDA,COVID-19
4,06/05/2020,NAO,SIM,NAO,SIM,NAO,NaN,04/05/2020,SIM,SIM,...,ANO(S),NaN,NaN,FEMININO,NaN,BAHIA,JANDAIRA,BASELINE,PARDA,COVID-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548146,06/07/2020,NAO,SIM,SIM,NAO,NAO,NaN,28/06/2020,NAO,SIM,...,ANO(S),NaN,NaN,FEMININO,LIBERDADE,BAHIA,SALVADOR,SIVEPGRIPE,IGNORADA,COVID-19
1548147,14/07/2020,NAO,SIM,SIM,SIM,SIM,NAO,12/07/2020,IGNORADA,IGNORADA,...,ANO(S),TESTE RAPIDO - ANTICORPO,NEGATIVO,MASCULINO,BOCA DA MATA,BAHIA,SALVADOR,SIVEPGRIPE,IGNORADA,COVID-19
1548148,30/07/2020,SIM,SIM,SIM,SIM,NAO,NaN,23/07/2020,IGNORADA,IGNORADA,...,ANO(S),NaN,NaN,MASCULINO,SETE DE ABRIL,BAHIA,SALVADOR,SIVEPGRIPE,PARDA,COVID-19
1548149,21/08/2020,NAO,NAO,NAO,NAO,SIM,NaN,05/08/2020,NAO,NAO,...,ANO(S),NaN,NaN,FEMININO,GUARUJA,BAHIA,MACARANI,SIVEPGRIPE,IGNORADA,COVID-19
1548150,21/08/2020,NAO,SIM,NAO,SIM,NAO,NaN,10/08/2020,NAO,SIM,...,ANO(S),NaN,NaN,MASCULINO,ANTONIA FRANCO,SAO PAULO,OUTRO ESTADO,SIVEPGRIPE,BRANCA,COVID-19

In [ ]:
df_ciccs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1548151 entries, 0 to 1548150
Data columns (total 31 columns):
 #   Column                                                            Non-Null Count    Dtype
---  ------                                                            --------------    -----
 0   DATA DA NOTIFICACAO                                               1546957 non-null  object
 1   DOR DE GARGANTA                                                   1471563 non-null  object
 2   DISPNEIA                                                          1471560 non-null  object
 3   FEBRE                                                             1471565 non-null  object
 4   TOSSE                                                             1471566 non-null  object
 5   OUTROS                                                            1471555 non-null  object
 6   E PROFISSIONAL DE SAUDE?                                          1456656 non-null  object
 7   DATA DO INICIO DOS SINTOMAS                                       1489120 non-null  object
 8   DOENCAS RESPIRATORIAS CRONICAS DESCOMPENSADAS                     1471686 non-null  object
 9   DOENCAS CARDIACAS CRONICAS                                        1471614 non-null  object
 10  DIABETES                                                          1471671 non-null  object
 11  DOENCAS RENAIS CRONICAS EM ESTAGIO AVANCADO (GRAUS 3, 4 OU 5)     1471561 non-null  object
 12  IMUNOSSUPRESSAO                                                   1471561 non-null  object
 13  GESTANTE DE ALTO RISCO                                            1456630 non-null  object
 14  PORTADOR DE DOENCAS CROMOSSOMICAS OU ESTADO DE FRAGILIDADE IMUNO  1456630 non-null  object
 15  CLASSIFICACAO FINAL                                               1548151 non-null  object
 16  INVESTIGACAO CONCLUIDA                                            1548151 non-null  object
 17  ESTADO DO TESTE                                                   1535996 non-null  object
 18  CBO                                                               106313 non-null   object
 19  DATA DA COLETA DO TESTE                                           1348631 non-null  object
 20  IDADE EM ANOS                                                     1547228 non-null  float64
 21  TIPO IDADE                                                        1547164 non-null  object
 22  TIPO DE TESTE                                                     1524673 non-null  object
 23  RESULTADO DO TESTE                                                1517013 non-null  object
 24  SEXO                                                              1547832 non-null  object
 25  BAIRRO                                                            1512558 non-null  object
 26  ESTADO DE RESIDENCIA                                              1548151 non-null  object
 27  MUNICIPIO DE RESIDENCIA                                           1548151 non-null  object
 28  BANCO                                                             1548136 non-null  object
 29  RACA/COR                                                          1517069 non-null  object
 30  EPIDEMIA                                                          1548151 non-null  object
dtypes: float64(1), object(30)
memory usage: 366.2+ MB

In [ ]:
df_ciccs['IDADE EM ANOS'].describe().apply(lambda x: format(x, 'f'))

count    1547228.000000
mean          39.382937
std           18.142408
min            0.000000
25%           27.000000
50%           38.000000
75%           51.000000
max          953.000000
Name: IDADE EM ANOS, dtype: object

#Tratamento dos dados

## Pré-processamento

In [ ]:
df_ciccs = df_ciccs.applymap(lambda s:s.upper() if type(s) == str else s) # converte todas as colunas para caixa alta

In [ ]:
sorted(df_ciccs['MUNICIPIO DE RESIDENCIA'].unique())

['ABAIRA',
 'ABARE',
 'ACAJUTIBA',
 'ADUSTINA',
 'AGUA FRIA',
 'AIQUARA',
 'ALAGOINHAS',
 'ALCOBACA',
 'ALMADINA',
 'AMARGOSA',
 'AMELIA RODRIGUES',
 'AMERICA DOURADA',
 'ANAGE',
 'ANDARAI',
 'ANDORINHA',
 'ANGICAL',
 'ANGUERA',
 'ANTAS',
 'ANTONIO CARDOSO',
 'ANTONIO GONCALVES',
 'APORA',
 'APUAREMA',
 'ARACAS',
 'ARACATU',
 'ARACI',
 'ARAMARI',
 'ARATACA',
 'ARATUIPE',
 'AURELINO LEAL',
 'BAIANOPOLIS',
 'BAIXA GRANDE',
 'BANZAE',
 'BARRA',
 'BARRA DA ESTIVA',
 'BARRA DO CHOCA',
 'BARRA DO MENDES',
 'BARRA DO ROCHA',
 'BARREIRAS',
 'BARRO ALTO',
 'BARRO PRETO',
 'BARROCAS',
 'BELMONTE',
 'BELO CAMPO',
 'BIRITINGA',
 'BOA NOVA',
 'BOA VISTA DO TUPIM',
 'BOM JESUS DA LAPA',
 'BOM JESUS DA SERRA',
 'BONINAL',
 'BONITO',
 'BOQUIRA',
 'BOTUPORA',
 'BREJOES',
 'BREJOLANDIA',
 'BROTAS DE MACAUBAS',
 'BRUMADO',
 'BUERAREMA',
 'BURITIRAMA',
 'CAATIBA',
 'CABACEIRAS DO PARAGUACU',
 'CACHOEIRA',
 'CACULE',
 'CAEM',
 'CAETANOS',
 'CAETITE',
 'CAFARNAUM',
 'CAIRU',
 'CALDEIRAO GRANDE',
 'CAMACAN',
 'CAMACARI',
 'CAMAMU',
 'CAMPO ALEGRE DE LOURDES',
 'CAMPO FORMOSO',
 'CANAPOLIS',
 'CANARANA',
 'CANAVIEIRAS',
 'CANDEAL',
 'CANDEIAS',
 'CANDIBA',
 'CANDIDO SALES',
 'CANSANCAO',
 'CANUDOS',
 'CAPELA DO ALTO ALEGRE',
 'CAPIM GROSSO',
 'CARAIBAS',
 'CARAVELAS',
 'CARDEAL DA SILVA',
 'CARINHANHA',
 'CASA NOVA',
 'CASTRO ALVES',
 'CATOLANDIA',
 'CATU',
 'CATURAMA',
 'CENTRAL',
 'CHORROCHO',
 'CICERO DANTAS',
 'CIPO',
 'COARACI',
 'COCOS',
 'CONCEICAO DA FEIRA',
 'CONCEICAO DO ALMEIDA',
 'CONCEICAO DO COITE',
 'CONCEICAO DO JACUIPE',
 'CONDE',
 'CONDEUBA',
 'CONTENDAS DO SINCORA',
 'CORACAO DE MARIA',
 'CORDEIROS',
 'CORIBE',
 'CORONEL JOAO SA',
 'CORRENTINA',
 'COTEGIPE',
 'CRAVOLANDIA',
 'CRISOPOLIS',
 'CRISTOPOLIS',
 'CRUZ DAS ALMAS',
 'CURACA',
 'DARIO MEIRA',
 "DIAS D'AVILA",
 'DOM BASILIO',
 'DOM MACEDO COSTA',
 'ELISIO MEDRADO',
 'ENCRUZILHADA',
 'ENTRE RIOS',
 'ERICO CARDOSO',
 'ESPLANADA',
 'EUCLIDES DA CUNHA',
 'EUNAPOLIS',
 'FATIMA',
 'FEIRA DA MATA',
 'FEIRA DE SANTANA',
 'FILADELFIA',
 'FIRMINO ALVES',
 'FLORESTA AZUL',
 'FORMOSA DO RIO PRETO',
 'GANDU',
 'GAVIAO',
 'GENTIO DO OURO',
 'GLORIA',
 'GONGOGI',
 'GOVERNADOR MANGABEIRA',
 'GUAJERU',
 'GUANAMBI',
 'GUARATINGA',
 'HELIOPOLIS',
 'IACU',
 'IBIASSUCE',
 'IBICARAI',
 'IBICOARA',
 'IBICUI',
 'IBIPEBA',
 'IBIPITANGA',
 'IBIQUERA',
 'IBIRAPITANGA',
 'IBIRAPUA',
 'IBIRATAIA',
 'IBITIARA',
 'IBITITA',
 'IBOTIRAMA',
 'ICHU',
 'IGAPORA',
 'IGRAPIUNA',
 'IGUAI',
 'ILHEUS',
 'INHAMBUPE',
 'IPECAETA',
 'IPIAU',
 'IPIRA',
 'IPUPIARA',
 'IRAJUBA',
 'IRAMAIA',
 'IRAQUARA',
 'IRARA',
 'IRECE',
 'ITABELA',
 'ITABERABA',
 'ITABUNA',
 'ITACARE',
 'ITAETE',
 'ITAGI',
 'ITAGIBA',
 'ITAGIMIRIM',
 'ITAGUACU DA BAHIA',
 'ITAJU DO COLONIA',
 'ITAJUIPE',
 'ITAMARAJU',
 'ITAMARI',
 'ITAMBE',
 'ITANAGRA',
 'ITANHEM',
 'ITAPARICA',
 'ITAPE',
 'ITAPEBI',
 'ITAPETINGA',
 'ITAPICURU',
 'ITAPITANGA',
 'ITAQUARA',
 'ITARANTIM',
 'ITATIM',
 'ITIRUCU',
 'ITIUBA',
 'ITORORO',
 'ITUACU',
 'ITUBERA',
 'IUIU',
 'JABORANDI',
 'JACARACI',
 'JACOBINA',
 'JAGUAQUARA',
 'JAGUARARI',
 'JAGUARIPE',
 'JANDAIRA',
 'JEQUIE',
 'JEREMOABO',
 'JIQUIRICA',
 'JITAUNA',
 'JOAO DOURADO',
 'JUAZEIRO',
 'JUCURUCU',
 'JUSSARA',
 'JUSSARI',
 'JUSSIAPE',
 'LAFAIETE COUTINHO',
 'LAGOA REAL',
 'LAJE',
 'LAJEDAO',
 'LAJEDINHO',
 'LAJEDO DO TABOCAL',
 'LAMARAO',
 'LAPAO',
 'LAURO DE FREITAS',
 'LENCOIS',
 'LICINIO DE ALMEIDA',
 'LIVRAMENTO DE NOSSA SENHORA',
 'LPI',
 'LUIS EDUARDO MAGALHAES',
 'MACAJUBA',
 'MACARANI',
 'MACAUBAS',
 'MACURURE',
 'MADRE DE DEUS',
 'MAETINGA',
 'MAIQUINIQUE',
 'MAIRI',
 'MALHADA',
 'MALHADA DE PEDRAS',
 'MANOEL VITORINO',
 'MANSIDAO',
 'MARACAS',
 'MARAGOGIPE',
 'MARAU',
 'MARCIONILIO SOUZA',
 'MASCOTE',
 'MATA DE SAO JOAO',
 'MATINA',
 'MEDEIROS NETO',
 'MIGUEL CALMON',
 'MILAGRES',
 'MIRANGABA',
 'MIRANTE',
 'MONTE SANTO',
 'MORPARA',
 'MORRO DO CHAPEU',
 'MORTUGABA',
 'MUCUGE',
 'MUCURI',
 'MULUNGU DO MORRO',
 'MUNDO NOVO',
 'MUNIZ FERREIRA',
 'MUQUEM DE SAO FRANCISCO',
 'MURITIBA',
 'MUTUIPE',
 'NAZARE',
 'NILO PECANHA',
 'NORDESTINA',
 'NOVA CANAA',
 'NOVA FATIMA',
 'NOVA IBIA',
 'NOVA ITARANA',
 'NOVA REDENCAO',
 'NOVA SOURE',
 'NOVA VICOSA',
 'NOVO HORIZONTE',
 'NOVO TRIUNFO',
 'OLINDINA',
 'OLIVEIRA DOS BREJINHOS',
 'OURICANGAS',
 'OUROLANDIA',
 'OUTRO ESTADO',
 'PALMAS DE MONTE ALTO',
 'PALMEIRAS',
 'PARAMIRIM',
 'PARATINGA',
 'PARIPIRANGA',
 'PAU BRASIL',
 'PAULO AFONSO',
 'PE DE SERRA',
 'PEDRAO',
 'PEDRO ALEXANDRE',
 'PIATA',
 'PILAO ARCADO',
 'PINDAI',
 'PINDOBACU',
 'PINTADAS',
 'PIRAI DO NORTE',
 'PIRIPA',
 'PIRITIBA',
 'PLANALTINO',
 'PLANALTO',
 'POCOES',
 'POJUCA',
 'PONTO NOVO',
 'PORTO SEGURO',
 'POTIRAGUA',
 'PRADO',
 'PRESIDENTE DUTRA',
 'PRESIDENTE JANIO QUADROS',
 'PRESIDENTE TANCREDO NEVES',
 'QUEIMADAS',
 'QUIJINGUE',
 'QUIXABEIRA',
 'RAFAEL JAMBEIRO',
 'REMANSO',
 'RETIROLANDIA',
 'RIACHAO DAS NEVES',
 'RIACHAO DO JACUIPE',
 'RIACHO DE SANTANA',
 'RIBEIRA DO AMPARO',
 'RIBEIRA DO POMBAL',
 'RIBEIRAO DO LARGO',
 'RIO DE CONTAS',
 'RIO DO ANTONIO',
 'RIO DO PIRES',
 'RIO REAL',
 'RODELAS',
 'RUY BARBOSA',
 'SALINAS DA MARGARIDA',
 'SALVADOR',
 'SANTA BARBARA',
 'SANTA BRIGIDA',
 'SANTA CRUZ CABRALIA',
 'SANTA CRUZ DA VITORIA',
 'SANTA INES',
 'SANTA LUZIA',
 'SANTA MARIA DA VITORIA',
 'SANTA RITA DE CASSIA',
 'SANTA TERESINHA',
 'SANTALUZ',
 'SANTANA',
 'SANTANOPOLIS',
 'SANTO AMARO',
 'SANTO ANTONIO DE JESUS',
 'SANTO ESTEVAO',
 'SAO DESIDERIO',
 'SAO DOMINGOS',
 'SAO FELIPE',
 'SAO FELIX',
 'SAO FELIX DO CORIBE',
 'SAO FRANCISCO DO CONDE',
 'SAO GABRIEL',
 'SAO GONCALO DOS CAMPOS',
 'SAO JOSE DA VITORIA',
 'SAO JOSE DO JACUIPE',
 'SAO MIGUEL DAS MATAS',
 'SAO SEBASTIAO DO PASSE',
 'SAPEACU',
 'SATIRO DIAS',
 'SAUBARA',
 'SAUDE',
 'SEABRA',
 'SEBASTIAO LARANJEIRAS',
 'SENHOR DO BONFIM',
 'SENTO SE',
 'SERRA DO RAMALHO',
 'SERRA DOURADA',
 'SERRA PRETA',
 'SERRINHA',
 'SERROLANDIA',
 'SIMOES FILHO',
 'SITIO DO MATO',
 'SITIO DO QUINTO',
 'SOBRADINHO',
 'SOUTO SOARES',
 'TABOCAS DO BREJO VELHO',
 'TANHACU',
 'TANQUE NOVO',
 'TANQUINHO',
 'TAPEROA',
 'TAPIRAMUTA',
 'TEIXEIRA DE FREITAS',
 'TEODORO SAMPAIO',
 'TEOFILANDIA',
 'TEOLANDIA',
 'TERRA NOVA',
 'TREMEDAL',
 'TUCANO',
 'UAUA',
 'UBAIRA',
 'UBAITABA',
 'UBATA',
 'UIBAI',
 'UMBURANAS',
 'UNA',
 'URANDI',
 'URUCUCA',
 'UTINGA',
 'VALENCA',
 'VALENTE',
 'VARZEA DA ROCA',
 'VARZEA DO POCO',
 'VARZEA NOVA',
 'VARZEDO',
 'VERA CRUZ',
 'VEREDA',
 'VITORIA DA CONQUISTA',
 'WAGNER',
 'WANDERLEY',
 'WENCESLAU GUIMARAES',
 'XIQUE-XIQUE']

In [ ]:
len(sorted(df_ciccs['MUNICIPIO DE RESIDENCIA'].unique()))

419

In [ ]:
lista_cidades = ['ANGICAL','BAIANOPOLIS','BARRA','BARREIRAS','BOM JESUS DA LAPA','BREJOLANDIA','BROTAS DE MACAUBAS','BURITIRAMA','CANAPOLIS','CATOLANDIA','COCOS','CORIBE','CORRENTINA','COTEGIPE','CRISTOPOLIS','FORMOSA DO RIO PRETO','IBOTIRAMA','IPUPIARA','JABORANDI','LUIS EDUARDO MAGALHAES','MANSIDAO','MORPARA','MUQUEM DE SAO FRANCISCO','OLIVEIRA DOS BREJINHOS','PARATINGA','RIACHAO DAS NEVES','SANTA MARIA DA VITORIA','SANTA RITA DE CASSIA','SANTANA','SAO DESIDERIO','SAO FELIX DO CORIBE','SERRA DO RAMALHO','SERRA DOURADA','SITIO DO MATO','TABOCAS DO BREJO VELHO','WANDERLEY']

In [ ]:
len(lista_cidades)

36

In [ ]:
df_macrorreg = df_ciccs[df_ciccs['MUNICIPIO DE RESIDENCIA'].isin(lista_cidades)]

In [ ]:
df = df_macrorreg[df_macrorreg['RESULTADO DO TESTE']=='POSITIVO'].copy()

In [ ]:
sorted(df['MUNICIPIO DE RESIDENCIA'].unique())

['ANGICAL',
 'BAIANOPOLIS',
 'BARRA',
 'BARREIRAS',
 'BOM JESUS DA LAPA',
 'BREJOLANDIA',
 'BROTAS DE MACAUBAS',
 'BURITIRAMA',
 'CANAPOLIS',
 'CATOLANDIA',
 'COCOS',
 'CORIBE',
 'CORRENTINA',
 'COTEGIPE',
 'CRISTOPOLIS',
 'FORMOSA DO RIO PRETO',
 'IBOTIRAMA',
 'IPUPIARA',
 'JABORANDI',
 'LUIS EDUARDO MAGALHAES',
 'MANSIDAO',
 'MORPARA',
 'MUQUEM DE SAO FRANCISCO',
 'OLIVEIRA DOS BREJINHOS',
 'PARATINGA',
 'RIACHAO DAS NEVES',
 'SANTA MARIA DA VITORIA',
 'SANTA RITA DE CASSIA',
 'SANTANA',
 'SAO DESIDERIO',
 'SAO FELIX DO CORIBE',
 'SERRA DO RAMALHO',
 'SERRA DOURADA',
 'SITIO DO MATO',
 'TABOCAS DO BREJO VELHO',
 'WANDERLEY']

In [ ]:
len(sorted(df['MUNICIPIO DE RESIDENCIA'].unique()))

36

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90646 entries, 114 to 1548091
Data columns (total 31 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   DATA DA NOTIFICACAO                                               90631 non-null  object
 1   DOR DE GARGANTA                                                   88016 non-null  object
 2   DISPNEIA                                                          88016 non-null  object
 3   FEBRE                                                             88016 non-null  object
 4   TOSSE                                                             88016 non-null  object
 5   OUTROS                                                            88015 non-null  object
 6   E PROFISSIONAL DE SAUDE?                                          87855 non-null  object
 7   DATA DO INICIO DOS SINTOMAS                                       87869 non-null  object
 8   DOENCAS RESPIRATORIAS CRONICAS DESCOMPENSADAS                     88016 non-null  object
 9   DOENCAS CARDIACAS CRONICAS                                        88016 non-null  object
 10  DIABETES                                                          88016 non-null  object
 11  DOENCAS RENAIS CRONICAS EM ESTAGIO AVANCADO (GRAUS 3, 4 OU 5)     88015 non-null  object
 12  IMUNOSSUPRESSAO                                                   88015 non-null  object
 13  GESTANTE DE ALTO RISCO                                            87887 non-null  object
 14  PORTADOR DE DOENCAS CROMOSSOMICAS OU ESTADO DE FRAGILIDADE IMUNO  87887 non-null  object
 15  CLASSIFICACAO FINAL                                               90646 non-null  object
 16  INVESTIGACAO CONCLUIDA                                            90646 non-null  object
 17  ESTADO DO TESTE                                                   90645 non-null  object
 18  CBO                                                               4114 non-null   object
 19  DATA DA COLETA DO TESTE                                           76768 non-null  object
 20  IDADE EM ANOS                                                     90630 non-null  float64
 21  TIPO IDADE                                                        90645 non-null  object
 22  TIPO DE TESTE                                                     90646 non-null  object
 23  RESULTADO DO TESTE                                                90646 non-null  object
 24  SEXO                                                              90646 non-null  object
 25  BAIRRO                                                            89173 non-null  object
 26  ESTADO DE RESIDENCIA                                              90646 non-null  object
 27  MUNICIPIO DE RESIDENCIA                                           90646 non-null  object
 28  BANCO                                                             90646 non-null  object
 29  RACA/COR                                                          89956 non-null  object
 30  EPIDEMIA                                                          90646 non-null  object
dtypes: float64(1), object(30)
memory usage: 22.1+ MB

In [ ]:
df.describe()

       IDADE EM ANOS
count   90630.000000
mean       37.314300
std        17.801952
min         0.000000
25%        25.000000
50%        36.000000
75%        48.000000
max       366.000000

## Agrupamento de dados por colunas para obter quantitativos

In [ ]:
df.columns

Index(['DATA DA NOTIFICACAO', 'DOR DE GARGANTA', 'DISPNEIA', 'FEBRE', 'TOSSE',
       'OUTROS', 'E PROFISSIONAL DE SAUDE?', 'DATA DO INICIO DOS SINTOMAS',
       'DOENCAS RESPIRATORIAS CRONICAS DESCOMPENSADAS',
       'DOENCAS CARDIACAS CRONICAS', 'DIABETES',
       'DOENCAS RENAIS CRONICAS EM ESTAGIO AVANCADO (GRAUS 3, 4 OU 5)',
       'IMUNOSSUPRESSAO', 'GESTANTE DE ALTO RISCO',
       'PORTADOR DE DOENCAS CROMOSSOMICAS OU ESTADO DE FRAGILIDADE IMUNO',
       'CLASSIFICACAO FINAL', 'INVESTIGACAO CONCLUIDA', 'ESTADO DO TESTE',
       'CBO', 'DATA DA COLETA DO TESTE', 'IDADE EM ANOS', 'TIPO IDADE',
       'TIPO DE TESTE', 'RESULTADO DO TESTE', 'SEXO', 'BAIRRO',
       'ESTADO DE RESIDENCIA', 'MUNICIPIO DE RESIDENCIA', 'BANCO', 'RACA/COR',
       'EPIDEMIA'],
      dtype='object')

### Funções utilizadas para agrupar os dados

In [ ]:
# Agrupa os dados por variável de interesse
def df_agrupado_por_teste(df, nome_var):
  N = df.groupby(nome_var)[nome_var].count()
  perc = N/len(df.index)*100
  result = pd.DataFrame({'N': N, '%': np.round(perc,2)})

  #Acrescenta linha com dados não informados
  ninform = len(df.index)-result['N'].sum() # quantidativo de não informados
  perc_ninform = ninform/len(df.index)*100 # percentual de não informados
  nao_informado = {result.index.name:'Não informado', 'N': ninform, '%': np.round(perc_ninform,2) }

  return result.reset_index().append(nao_informado, ignore_index=True)

In [ ]:
# Agrupa os dados por variável de interesse após renomear categorias sem relevância 
def df_agrupado_por(df, nome_var):

  if (nome_var == 'FAIXA ETARIA'):
     N = df.groupby(nome_var)[nome_var].count()
     perc = N/len(df.index)*100
     result = pd.DataFrame({'N': N, '%': np.round(perc,2)})
     
     #Acrescenta linha com dados não informados
     ninform = len(df.index)-result['N'].sum() # quantidativo de não informados
     perc_ninform = ninform/len(df.index)*100 # percentual de não informados
     nao_informado = {result.index.name:'NAO INFO', 'N': ninform, '%': np.round(perc_ninform,2) }
     return result.reset_index().append(nao_informado, ignore_index=True)

  else:

    df_temp = df.copy()
    df_temp[nome_var] = df_temp[nome_var].replace({r'IGNORAD(O|A)':'NAO INFO', r'INDEFINID(O|A)':'NAO INFO'}, regex=True)
    df_temp[nome_var] = df_temp[nome_var].fillna('NAO INFO')

    N = df_temp.groupby(nome_var)[nome_var].count()
    perc = N/len(df.index)*100
    result = pd.DataFrame({'N': N, '%': np.round(perc,2)})

    #Acrescenta linha com valor total e porcentagem total para conferência
    Ntot = len(df.index) # quantidativo de dados do dataframe original
    perc_tot = result['N'].sum()/Ntot*100 # percentual de não informados
    total = {result.index.name:'TOTAL', 'N': Ntot, '%': np.round(perc_tot,2) }

    return result.reset_index().append(total, ignore_index=True)

In [ ]:
# Grava tabela com dataframes agrupados em um arquivo csv
def grava_csv_tabela_agrupamentos(df, list_var):
  data = datetime.datetime.now(pytz.timezone('America/Bahia')).strftime("%Y-%m-%d")
  nome_data = "%s_%s.%s" % ('tabela_agrupada', data ,"csv")
  for var in list_var:
    with open('/content/drive/MyDrive/GTG-Covid19/Tabelas_GTG-Covid19/'+nome_data,'a') as f:
      df_agrupado_por(df, var).to_csv(f, header=True)
      f.write('\n')

### Inserir coluna com faixa etária no dataframe

In [ ]:
df['IDADE EM ANOS'].describe()

count    90630.000000
mean        37.314300
std         17.801952
min          0.000000
25%         25.000000
50%         36.000000
75%         48.000000
max        366.000000
Name: IDADE EM ANOS, dtype: float64

In [ ]:
df['FAIXA ETARIA'] =  pd.cut(df['IDADE EM ANOS'], bins=[0,1,5,10,20,30,40,50,60,70,80,120],
                             labels=['< 1', '1 a 4', '5 a 9', '10 a 19', '20 a 29', '30 a 39', '40 a 49', '50 a 59', '60 a 69', '70 a 79', '80 ou mais'], right=False)

## Mostrar agrupamentos

In [ ]:
df.columns

Index(['DATA DA NOTIFICACAO', 'DOR DE GARGANTA', 'DISPNEIA', 'FEBRE', 'TOSSE',
       'OUTROS', 'E PROFISSIONAL DE SAUDE?', 'DATA DO INICIO DOS SINTOMAS',
       'DOENCAS RESPIRATORIAS CRONICAS DESCOMPENSADAS',
       'DOENCAS CARDIACAS CRONICAS', 'DIABETES',
       'DOENCAS RENAIS CRONICAS EM ESTAGIO AVANCADO (GRAUS 3, 4 OU 5)',
       'IMUNOSSUPRESSAO', 'GESTANTE DE ALTO RISCO',
       'PORTADOR DE DOENCAS CROMOSSOMICAS OU ESTADO DE FRAGILIDADE IMUNO',
       'CLASSIFICACAO FINAL', 'INVESTIGACAO CONCLUIDA', 'ESTADO DO TESTE',
       'CBO', 'DATA DA COLETA DO TESTE', 'IDADE EM ANOS', 'TIPO IDADE',
       'TIPO DE TESTE', 'RESULTADO DO TESTE', 'SEXO', 'BAIRRO',
       'ESTADO DE RESIDENCIA', 'MUNICIPIO DE RESIDENCIA', 'BANCO', 'RACA/COR',
       'EPIDEMIA', 'FAIXA ETARIA'],
      dtype='object')

In [ ]:
# Lista com variáveis de interesse para agrupar os dados
list_var = ['FAIXA ETARIA', 'SEXO', 'RACA/COR', 'E PROFISSIONAL DE SAUDE?', 'DOENCAS RESPIRATORIAS CRONICAS DESCOMPENSADAS', 'DOENCAS CARDIACAS CRONICAS', 'DIABETES',
            'DOENCAS RENAIS CRONICAS EM ESTAGIO AVANCADO (GRAUS 3, 4 OU 5)', 'IMUNOSSUPRESSAO', 'GESTANTE DE ALTO RISCO', 'PORTADOR DE DOENCAS CROMOSSOMICAS OU ESTADO DE FRAGILIDADE IMUNO' ]

In [ ]:
# agrupamento dos dados por FAIXA ETARIA
df_agrupado_por(df, list_var[0])

   FAIXA ETARIA      N      %
0           < 1    892   0.98
1         1 a 4   1645   1.81
2         5 a 9   2044   2.25
3       10 a 19   8224   9.07
4       20 a 29  18083  19.95
5       30 a 39  22557  24.88
6       40 a 49  16723  18.45
7       50 a 59  10488  11.57
8       60 a 69   5468   6.03
9       70 a 79   2882   3.18
10   80 ou mais   1604   1.77
11     NAO INFO     36   0.04

In [ ]:
# agrupamento dos dados por SEXO
df_agrupado_por_teste(df, list_var[1])

            SEXO      N      %
0       FEMININO  49259  54.34
1       IGNORADO      3   0.00
2     INDEFINIDO    123   0.14
3      MASCULINO  41261  45.52
4  Não informado      0   0.00

In [ ]:
# agrupamento dos dados por SEXO corrigido
df_agrupado_por(df, list_var[1])

        SEXO      N       %
0   FEMININO  49259   54.34
1  MASCULINO  41261   45.52
2   NAO INFO    126    0.14
3      TOTAL  90646  100.00

In [ ]:
# agrupamento dos dados por RACA/COR
df_agrupado_por_teste(df, list_var[2])

        RACA/COR      N      %
0        AMARELA   6056   6.68
1         BRANCA  10396  11.47
2       IGNORADA     54   0.06
3       IGNORADO  16182  17.85
4       INDIGENA    179   0.20
5          PARDA  54076  59.66
6          PRETA   3013   3.32
7  Não informado    690   0.76

In [ ]:
# agrupamento dos dados por RACA/COR corrigido
df_agrupado_por(df, list_var[2])

   RACA/COR      N       %
0   AMARELA   6056    6.68
1    BRANCA  10396   11.47
2  INDIGENA    179    0.20
3  NAO INFO  16926   18.67
4     PARDA  54076   59.66
5     PRETA   3013    3.32
6     TOTAL  90646  100.00

## Grava agrupamentos em arquivo csv e/ou planilha da Google

In [ ]:
#grava_csv_tabela_agrupamentos(df, list_var)

In [ ]:
# cria uma lista e insere todos os agrupamentos de dados de interesse
l = []
for i in range(len(list_var)):
  l.append(df_agrupado_por(df,list_var[i]).T.reset_index().T)

In [ ]:
# cria um dataframe concatemando a lista
pd.concat(l)

                                                       0      1      2
index                                       FAIXA ETARIA      N      %
0                                                    < 1    892   0.98
1                                                  1 a 4   1645   1.81
2                                                  5 a 9   2044   2.25
3                                                10 a 19   8224   9.07
...                                                  ...    ...    ...
index  PORTADOR DE DOENCAS CROMOSSOMICAS OU ESTADO DE...      N      %
0                                                    NAO  87767  96.82
1                                               NAO INFO   2759   3.04
2                                                    SIM    120   0.13
3                                                  TOTAL  90646  100.0

[66 rows x 3 columns]

In [ ]:
spread = Spread('planilha_com_dados_processados', creds=credentials)
spread.df_to_sheet(pd.concat(l), index=False, headers=False, sheet='Tabela 1', replace=True)
print(spread)

<gspread_pandas.spread.Spread - 'User: 'pedro.dias@ufob.edu.br', Spread: 'planilha_com_dados_processados', Sheet: 'Tabela 1''>